.transactions {
    display: flex;
    flex-direction: column; /* Stack child elements vertically */
    align-items: center;
}

.grid {
    width: 85%;
    flex-grow: 1; /* Allow the DataGrid to grow and take up available vertical space */
}

/* You can adjust the height of the footer or any other elements as needed. */